<html>

<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>

    <style>
        @keyframes logo {
            0% {
                opacity: 0;
                transform: rotate(0deg);
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                transform: rotate(360deg)
            }

        }

        .preloader .logo {
            animation: logo 1.5s ease-in-out infinite;
        }

        .preloader {
            display: flex;
            background-image: url(resources/img/bg.jpg);
            background-size: cover;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            position: fixed;
        }
    </style>

    <script src="node_modules/cryptojslib/rollups/aes.js"></script>

    <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="./resources/fonts/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>


</head>

<body>
    <div class="preloader">
        <img src="resources/img/logo.png" class="logo w-25">
    </div>



    <div class="wrapper" id="app" style="display: none">
        <nav class="nav">
            <div class="buttons-control ml-auto">
                <button class="btn text-info btn-minimize"><i class="fal fa-window-minimize"></i></button>
                <button class="btn text-danger btn-close"><i class="fal fa-times"></i></button>
            </div>
        </nav>

        <div class="signals" v-if="accessToken">

            <div class="pt-4"> </div>
            <div class="pair-slider">
                <div class="left disabled"><i class="fal fa-chevron-left"></i></div>
                <div class="slider dragscroll">
                    <div class="pair" v-for="signals, currency in this.signals" v-bind:class='{"active": activeCurrency == currency}' v-bind:id="currency" v-on:click.prevent="setCurrency(currency)">
                        <div>
                            <span class="curr">{{ currency }}</span>
                            <span v-if="getCurrencyWithSignal(currency).conclusion == 1" class="presignal text-success">
                                {{ secondsToStr(getCurrencyWithSignal(currency).time) }} <i class="fa fa-chevron-up"></i>
                            </span>
                            <span v-else-if="getCurrencyWithSignal(currency).conclusion == -1" class="presignal text-danger">
                                {{ secondsToStr(getCurrencyWithSignal(currency).time) }} <i class="fa fa-chevron-down"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="right"><i class="fal fa-chevron-right"></i></div>
            </div>

            <div class="self-signal mb-3" v-if="activeSignal != null">
                <span v-if="activeSignal.conclusion == 1" class="label label-success position-relative text-uppercase">
                    <i class="mr-1 fal fa-chevron-up slide-up-arrow"></i> {{ l.buy }} <i class="ml-1 fal fa-chevron-up slide-up-arrow"></i>
                </span>
                <span v-if="activeSignal.conclusion == -1" class="label text-uppercase label-danger position-relative">
                    <i class="mr-1 fal fa-chevron-down slide-down-arrow "></i> {{ l.sell }} <i class="ml-1 fal fa-chevron-down slide-down-arrow"></i>
                </span>
            </div>

            <div class="inds contain" v-if="activeSignal != null">
                <div class="d-flex flex-row justify-content-between">
                    <div class="ind ind1">
                        <div class="title text-uppercase">{{ l.technical_analysis }}
                            <i v-if="activeSignal.technical_analisis == 1" class="fa fa-chevron-up text-success"></i>
                            <i v-else-if="activeSignal.technical_analisis == -1" class="fa fa-chevron-down text-danger"></i>
                        </div>
                        <div v-if="activeSignal.technical_analisis == 1" class="mt-3 value label label-success text-capitalize">
                            {{ l.active_buy }}
                            <i class="fa fa-chevron-up"></i>
                        </div>
                        <div v-else-if="activeSignal.technical_analisis == -1" class="mt-3 value label label-danger text-capitalize">
                            {{ l.active_sell }}
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div v-else class="value label label-muted mt-3 text-capitalize">{{ l.neutrally }}</div>
                    </div>
                    <div class="ind ind2">
                        <div class="title">{{ l.moving_averages }} <i class="fa fa-chevron-up text-success"></i></div>
                        <div class="d-flex flex-row justify-content-around">
                            <span class="text text-success line-title">{{ activeSignal.moving_averages_buy }} <span class="subtitle">{{ l.buy_up }}</span></span>
                            <span class="text text-danger line-title">{{ activeSignal.moving_averages_sell }} <span class="subtitle">{{ l.sell_up }}</span></span>
                        </div>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="line-chart-green" :style='{width: activeSignal.moving_averages_buy / (activeSignal.moving_averages_buy + activeSignal.moving_averages_sell) *100  + "%"}'></div>
                            <div class="line-chart-red" :style='{width: activeSignal.moving_averages_sell / (activeSignal.moving_averages_buy + activeSignal.moving_averages_sell) *100  + "%"}'></div>
                        </div>
                    </div>
                </div>
                <div class="ind ind3 mt-4">
                    <div class="title"> {{ l.members_entiments }} </div>
                    <div class="d-flex flex-row justify-content-around">
                        <span class="text text-success line-title">{{ activeSignal.world_trend_buy }}%<span class="subtitle"> {{ l.buy_up }} </span></span>
                        <span class="text text-danger line-title">{{ activeSignal.world_trend_sell }}%<span class="subtitle"> {{ l.sell_up }} </span></span>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="line-chart-green" :style='{width: activeSignal.world_trend_buy + "%"}'> </div>
                        <div class="line-chart-red" :style='{width: activeSignal.world_trend_sell + "%"}'> </div>
                    </div>
                </div>
            </div>
            <div class="time-select contain mt-5">
                <div class="time" v-for="signal in signals[activeCurrency]" v-bind:time="signal.time" v-bind:class='{"active": signal.time == activeTime}' v-on:click.prevent="setTime(signal.time)">
                    <a href="#">{{ secondsToStr(signal.time) }} </a>
                </div>
            </div>

        </div>

        <div v-else class="auth-form contain">
            <form action="#" v-on:submit.prevent="requestRegister()">
                <h1 class="auth-title">{{ l.auth }}</h1>
                <div class="form-group">
                    <label for="access_token">{{ l.write_private_key }}</label>
                    <input class="form-control" v-model="registerAccessToken" name="access_token" id="access_token" placeholder=".." required>
                    <span class="text-danger" v-show="registerError">{{ registerError }}</span>
                </div>
                <button class="btn btn-success btn-large"><i class="fa fa-check"></i> {{ l.activate }}</button>
            </form>
        </div>

        <div class="devider contain mt-5"></div>

        <div class="contacts contain d-flex flex-row justify-content-between ">
            <div class="mr-auo ml-auo"> </div>
            <div class="links ml-aut mr-ato">
                <span class="link" onclick="openExternal('http://vk.com')"><i class="fab fa-vk text text-info"></i></span>
                <span class="link" onclick="openExternal('http://youtube.com')"><i class="fab fa-youtube text text-danger"></i></span>
                <span class="link" onclick="openExternal('http://tg.me')"><i class="fa fa-paper-plane text-info"></i></span>
                <span class="link" onclick="openExternal('http://vk.com')"><i class="fab fa-vk"></i></span>
                <span class="link" onclick="openExternal('http://vk.com')"><i class="fab fa-vk"></i></span>
                <span class="link" onclick="win.webContents.openDevTools()"><i class="fab fa-vk"></i></span>
            </div>
            <div class="sets ml-auto ">
                <div>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="lang icon" v-bind:class='{"active": locale == "en"}' id="en" v-on:click="setLocale('en')">EN</div>
                        <div class="lang icon" v-bind:class='{"active": locale == "ru"}' id="ru" v-on:click="setLocale('ru')">RU</div>
                    </div>
                </div>
                <div class="notify icon text-info" :title="l.notifications_title" v-on:click.prevent="toggleNotifications()">
                    <i class="fa fa-bell"></i>
                </div>
                <div class="volume icon text-info pointer" :title="l.silent_title" v-on:click.prevent="toggleNotificationsVolume()">
                    <i class="fa fa-volume-up"></i>
                </div>
            </div>
            <!--
            <div class="d-flex flex-row justify-content-between">
                <div class="buttons">
                    <div class="btn-group">
                        <button class="btn btn-control language" id="en">EN</button>
                        <button class="btn btn-outline-control language" id="ru">RU</button>
                    </div>
                    <button class="btn btn-control sound ml-3"><i class="fal fa-volume-up"></i></button>
                </div>
            </div>
            -->
        </div>


    </div>
    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="node_modules/axios/dist/axios.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/controls.js"></script>
    <script src="js/app.js"></script>

</body>

</html>
