body {
    background-color: #0b2239;
    color: white !important;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    background: #0b2239;
    font-family: "Roboto", sans-serif;
}

* {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.nav {
    background: #0b2239;
    color: white !important;
    -webkit-app-region: drag;
    cursor: pointer !important;
    z-index: 999999;
    padding: 3px;
    width: 100vw;
    position: fixed;
}

.ind1 .value
{
    font-size: 28px;
    color: #01ccff;
    font-weight: 500;
    border-radius: 0;
    border: 1px solid rgba(1,204,255,0.8);
    margin-top: 27px;
}


.ind2 .subtitle
{
    font-size: 14px;
    font-weight: 400;
}

.ind2 .value
{
    font-size: 44px;
    font-weight: 500;
}

.ind2 .value.buy
{
    color: #22dd2b;
}

.ind2 .value.sell
{
    color: #ef2652;
}

.pair.hidden
{
    display: none;
}

.pair-slider .selector
{
    color: white;
    position: absolute;
    left: 41px;
    bottom: 4px;
    cursor: pointer;
    width: 18.3%;
    background-color: rgba(1,1,1,0.5);
    display: inline-block;
    text-align: center;
}

.pair-slider .selector:hover .pairs
{
    display: block;
}

.pair-slider .selector .pairs
{
    width: 100%;
    position: absolute;
    top: 15px;
    display: none;
}

.pairs .pair
{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ucfirst:first-letter
{
    text-transform: uppercase;
}

.pair div
{
    display: inline-block;
}


.pair .show
{
    margin-left: auto;
}

@keyframes slide-up-arrow
{
    0%
    {
        position: relative;
        bottom: -10px;
        opacity: 1;
    }
    50%
    {
        position: relative;

        opacity:1;
    }
    100%
    {
        position: relative;
        bottom: 10px;
        opacity: 0;
    }

}

@keyframes slide-down-arrow
{
    0%
    {
        position: relative;
        top: -10px;
        opacity: 1;
    }
    50%
    {
        position: relative;

        opacity:1;
    }
    100%
    {
        position: relative;
        top: 10px;
        opacity: 0;
    }

}



.lang:first-child {
    border-radius: 5px 0 0 5px;
}

.lang:last-child {
    border-radius: 0 4px 4px 0;
}

.lang {
    cursor: pointer;
    border: 1px solid #33314a;
}

.lang.active {
    background-color: #33314a;
    color: #f0f0f0
}

.pointer
{
    cursor: pointer;
}

.slide-up-arrow
{
    animation: slide-up-arrow 1s ease infinite;
}

.slide-down-arrow
{
    animation: slide-down-arrow 1s ease infinite;
}

.nav .btn {
    -webkit-app-region: no-drag;
}

.nav .buttons-control .btn {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 14px;
    font-weight: 100;
    -webkit-text-stroke: 1px #f0f0f0
    border-radius: 0;
}

.nav .buttons-control .btn:focus, .nav .buttons-control .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.nav .btn-minimize {
    background-color: rgba(1, 1, 1, 0);
    border-width: 0;
    color: #0c9eda !important;
}

.sets .icon {
    width: 30px;
    height: 26px;
    text-align: center;
    display: inline-block;
    color: #878eaf;
}
.nav .btn-close {
    font-size: 20px !important;
    border-width: 0;
    background-color: rgba(1, 1, 1, 0);
    color: #d54f68 !important;
}

.pair-slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
}

.pair-slider>div {
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
}

.pair-slider .left, .pair-slider .right {
    font-size: 40px;
    text-align: center;
    width: 5%;
    display: block;
    cursor: pointer;
}

.pair-slider .slider {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    width: 92%;
    -webkit-transition: left 5s ease-out;
    -moz-transition: left 5s ease-out;
    -o-transition: left 5s ease-out;
    transition: left 5s ease-out;
}


.global .pair-slider .slider
{
    overflow: normal;
}

.pair {
    border: 1px solid #3141a2;
    display: inline-block;
    margin: 0;
    width: 20%;
    height: 60px;
    border-radius: 0px;
    cursor: pointer;
    background-color: #0b2239;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.pair.active {
    border: 1px solid #01ccff;
    box-shadow: 0 0 3px 0 #01ccff inset;
    background: #0b2239;
}

 .pair:first-child {
    margin-left: 0;
}

.pair:last-child {
    margin-right: 0;
}

.pair>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 21px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.pair>div .presignal {
    font-size: 12.5px;
    position: absolute;
    top: -2px;
    right: 5px;
}

.contain {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pair-slider .left.disabled, .pair-slider .right.disabled {
    color: rgba(255, 255, 255, 0.1);
}

.ind {
    border-radius: 0px;
    color: #eeeeee;
    font-weight: 300;
    text-align: center;
}

.ind1, .ind2 {
    width: 48.4%;
}

.ind3 {
    width: 100%;
    padding-bottom: 20px;
}

.ind3 .value
{
    font-size: 25px;
    font-weight: 400;
}

.ind3 .value.buy
{
    color: #22dd2b;
}

.ind3 .value.sell
{
    color: #ef2652;
}

.ind3 .body span
{
    font-size: 14px;
    font-weight: 400;
}

.ind .title {
    font-size: 28px;
    line-height: 2;
    font-weight: 300;
    color: #eeeeee;
    text-align: left;
    margin-bottom: 2px;
    margin-top: 4px;
}

.ind .body
{
    border: 1px solid #3141a2;
    width: 100%;
    padding: 15px 20px;
}

.ind1 .body, .ind2 .body
{
    height: 150px;
}

.ind .title:first-letter {
    text-transform: uppercase;
}

.label {
    font-size: 32px;
    padding: 3px;
    color: rgba(250, 200, 200, 1);
}

.label-danger {
    border: 1px solid #ef2652;
    color: #ef2652;
}

.label-success {
    border: 1px solid #22dd2b;
    color: #22dd2b;
}

.settings .info, .settings .buttons {
    width: 48.4%;
}

.settings .info {
    color: #d0d0d0;
}

.settings .info .subtitle {
    font-size: 14px;
    margin-bottom: 0;
}

.settings .info .text {
    font-size: 12px;
}

.settings .buttons {
    text-align: right;
}

.settings .buttons .btn {
    padding: 10px 16px;
    min-height: 50px;
    font-size: 20px;
}

.btn:active, .btn:focus {
    outline: none !important;
    box-shadow: 0 !important;
    border-width: 0 !important;
}

.btn-control, .btn-outline-control {
    width: 50px;
    height: 50px;
    padding: 0 !important;
    text-align: center;
}

.btn-control {
    background-color: #698bc8;
}

.btn-outline-control, .btn-outline-control:hover, .btn-outline-control:focus, .btn-outline-control:active {
    box-shadow: none;
    border: 1px solid #698bc8;
    color: #698bc8;
    background-color: rgba(1, 1, 1, 0);
}

.btn-control:focus, .btn-outline-control:focus {
    box-shadow: none;
}

.devider {
    height: 2px;
    background-image: linear-gradient(to left, rgba(36,52,59,0), rgba(36,52,59,1), rgba(36,52,59,0));
    margin-top: 20px;
    margin-bottom: 20px;
}

.line-title
{
    color: #e6e6e6;
    line-height: 1.5;
    font-size: 30px;
    margin-top: -10px;
}

.line-title .subtitle
{
    color: #9196a9;
    font-size: 12px;
    display: block;
    margin-top: -10px;
    text-align: center;
}

.contacts .link {
    font-size: 22px;
    margin-left: 7px;
    margin-right: 7px;
}

.contacts {}

.time-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
}

.time-select .time a {
    display: block;
    border-right: 1px solid #3141a2;
    border-top: 1px solid #3141a2;
    border-bottom: 1px solid #3141a2;
    font-weight: 300;
    font-size: 16px;
    padding: 5px 22px;
    color: #eeeeee;
    text-decoration: none;
    cursor: pointer;
    box-sizing: padding-box;
    min-width: 135px;
    text-align: center;
}

.time-select .time:first-child a {
    border-left: 1px solid #7579a5;
}

.time-select .time:last-child a {
}

.time-select .time.active a {
    display: block;
    box-shadow: 0 0 4px 0 rgba(49,65,162,0.9), 0 0 4px 0 rgba(49,65,162,0.9) inset;
    background: linear-gradient(to right, #0c223b, #09274b, #0c223b);
}

.self-signal {
    text-align: center;
    font-size: 24px;
    height: 50px;
    font-weight: 600;
}

.self-signal .label
{
    display: block;
    margin: auto;
    display: inline-block;
    padding: 12px 24px;
}

.line-chart
{
    position: absolute;
    width: 400px;
    background-color: red;
    height: 1px;

    clip-path: url(#mask1);
}
.line-chart-green {
    ackground-color: rgba(42, 167, 109, 1);
    width: 70%;
    height: 5px;
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
}

.line-chart-red {
    height: 5px;
    width: 30%;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
    background-color: rgba(223, 85, 58, 1);
}

.sets>div, .sets, .links {
    display: inline-block;
}




.notify {
    cursor: pointer;
}

.auth-form .card
{
    color: #eeeeee;
    background-color: #112943 !important;
    padding: 50px;
    position: relative;
}

.auth-form .card .card-move
{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
}

.auth-form
{
    color: #f0f0f0;
    width: 80%;
}
.auth-form .subtitle
{
    color: #777f8f;
    font-size: 18px;
}

.auth-form .text-small
{
    font-size: 14px;
}

.auth-form label
{
    color: #656f81;
}

.auth-form input, .auth-form input:active, .auth-form input:focus
{
    background-color: #0e2b44;
    border: 1px solid #3141a2;
    width: 100%;
}

.btn-login
{
    font-size: 20px;
    width: 235px;
    height:50px;
    border: 1px solid #3141a2;
    color: #d4d5d8;
}

.btn-login:hover, .btn-login:active
{
    border-width: 0;
    color: #d4d5d8;
    background-color: #3141a2;
}

.auth-form
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 530px;
    text-align: center;
    max-width: 50%;
}
.link
{
    cursor: pointer;
}


.label-outline-danger
{
    border: 1px solid #ef2652 !important;
    box-shadow: 0 0 5px 0 rgba(239,38,82,0.5), 0 0 3px 0 rgba(239,38,82,0.5) inset;
    display: inline-block;
    padding: 11px 23px;
    border-radius: 70px;
    color: #ef2652 !important;
}

.label-outline-success
{
    border: 1px solid  #28a745!important;
    box-shadow: 0 0 5px 0 rgba(34,221,43,0.5), 0 0 3px 0 rgba(34,221,43,0.5) inset;
    display: inline-block;
    padding: 11px 23px;
    border-radius: 70px;
    color: #28a745 !important;
}

.label-outline-neutrally
{
    box-shadow: 0 0 5px 0 rgba(1,204,255,0.5), 0 0 3px 0 rgba(1,204,255,0.5) inset;
    border: 1px solid rgba(250, 200, 200, 1);
    display: inline-block;
    padding: 11px 23px;
    border-radius: 70px;
}

.open-global
{
    height: 500px;
    width: 30px;
    background-image: linear-gradient(to left, #1e2432, rgb(100, 106, 120, 0.5));

    position: absolute;
    left: 7vw;
    top: 100px;
}

.global
{
    z-index: 10000;
    width: 0px;
    position: absolute;
    padding-top: 50px;
    top: 0px;
    left: 7vw;
    background: #1e2432;
    display: none;
    text-align: center;
    overflow: block;
    height: 500px;
    opacity: 0;
    padding-bottom: 20px;
    transition: all 0.1s ease-out;
}

.global .title
{
    margin-bottom: 20px;
}

.global .slider
{
    background-color: #0d233b;
}

svg, .ind-chart
{
    transition: none;
}

.settings
{
    transition-duration: 0.1s;
}

i.settings
{
    transition-duration: 0.05s !important;
}

.settings i.fa-spin
{
    animation-duration: 5s !important;
}

.settings.active
{
    color: white;
}

.globalOpen
{
    background-color: #0d233b !important;
    display: block;
    opacity: 1;
    width: 93vw;
    height: 100vh;
    animation: 0.2s opacityShow linear;
}

@keyframes opacityShow
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.opacity1
{
    opacity: 1;
}
/*
.open-global:hover~.global, .global:hover, .open-global.hover~.global, .global.hover
{
    width: 900px;
    opacity: 1;
    animation: global 0.2s ease-in-out;
}

.open-global:hover~.pair-slider, .global:hover~.pair-slider, .open-global.hover~.pair-slider, .global.hover~.pair-slider
{
    opacity: 0.01 !important;
}
*/
.global .slider .pair
{
    display: inline-block;
    margin: 2px;
    width: 160.35px;
    height: 60px;
    /*border-right: 2px solid #192431;
    border-top: 2px solid #192431;*/
    border-radius: 0px;
    cursor: pointer;
    background-color: #10263d;
    transition: opacity 0.4s ease-out, background-color 0.3s ease-out;
    position: relative;
}


@keyframes global
{
    0%
    {
        width: 93vw;
        opacity: 0;
    }
    100% {
        width: 93vw;
        opacity: 1;
    }
}

.global .slider .pair>div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 21px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;

}

.global .slider .pair.hidden {
    background-color: #1e2432;
    backgrfound-size: 50%;
    opacity: 0.2;
}

.global .slider .pair .presignal
{
    font-size: 12.5px;
    position: absolute;
    top: -2px;
    right: 5px;
}
.global .slider .pair .status
{
    font-size: 12.5px;
    position: absolute;
    bottom: -2px;
    right: 5px;
}

.slider-container
{
    overflow: hidden;
    max-height: 75px;
    width: 90vw;
}

.slider-wrapper
{
    max-height: 75px;
    width: 100%;
}

.slider-wrapper .pair
{
    display: inline-block;
    width: 150px;
}





















/* Frame */
.frame {
  height: 440px;
  line-height: 250px;
  overflow: hidden;
}
.frame ul.main-news__items-wrapp {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
.frame ul.main-news__items-wrapp li {
  float: left;
  width: 403px;
  min-width: 403px;
  height: 100%;
  margin: 0 20px;
  cursor: pointer;
}
.frame ul.main-news__items-wrapp li.active {
  box-shadow: 0 4px 20px 0 rgba(88, 121, 163, 0.2);
}

/* Scrollbar */
.scrollbar {
  margin: 1em 0 1em 0;
  height: 3px;
  background: #CDDDFB;
  line-height: 0;
}
.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #377CFD;
  cursor: pointer;
}
.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

/* Pages */
/* Controls */
.controls {
  margin: 25px 0;
  text-align: center;
}

.news-slider__item {
  position: relative;
  background: #FFFFFF;
  transition: all 0.3s;
  width: 403px;
  height: 440px;
  margin-right: 40px;
}
@media only screen and (max-width: 1200px) {
  .news-slider__item {
    width: 314px;
  }
}
.news-slider__item:last-child {
  margin-right: 0;
}
.news-slider__item:hover .news-slider__head {
  color: #377CFD;
}
.news-slider__item:hover {
  cursor: pointer;
  box-shadow: 0 4px 20px 0 rgba(88, 121, 163, 0.2);
}
.news-slider__item .news-slider__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: block;
}
.news-slider__item .news-slider__media {
  background-size: cover;
  width: 100%;
  height: 240px;
  position: relative;
  transition: all 0.5s;
}
.news-slider__item .news-slider__text-wrap {
  padding: 30px 40px;
}
@media only screen and (max-width: 1024px) {
  .news-slider__item .news-slider__text-wrap {
    padding: 26px 20px;
  }
}
.news-slider__item .news-slider__text-wrap .news-slider__title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.news-slider__item .news-slider__text-wrap .news-slider__title .news-slider__head {
  margin: 0;
  transition: all 0.3s;
  width: 70%;
  font-size: 18px;
}
@media only screen and (max-width: 1024px) {
  .news-slider__item .news-slider__text-wrap .news-slider__title .news-slider__head {
    font-size: 16px;
    padding: 0 10px 0 0;
  }
}
.news-slider__item .news-slider__text-wrap .news-slider__title .date {
  opacity: 0.3;
  color: #1D1D1D;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  width: 30%;
  margin-top: 7px;
  text-align: right;
  white-space: nowrap;
}
.news-slider__item .news-slider__text-wrap .news-slider__title .date span:nth-child(2) {
  margin: 0 3px;
}
@media only screen and (max-width: 1024px) {
  .news-slider__item .news-slider__text-wrap .news-slider__text {
    display: none;
  }
}

.news-slider__item--youtube:hover {
  box-shadow: none;
}
.news-slider__item--youtube:hover .news-slider__head {
  color: #000;
}
.news-slider__item--youtube .news-slider__youtube-link {
  background-size: cover;
  position: relative;
  transition: all 0.5s;
  font-size: 0;
  color: transparent;
  height: 240px;
  width: 100%;
  display: block;
  z-index: 9;
}
.news-slider__item--youtube .news-slider__youtube-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}
.news-slider__item--youtube .news-slider__youtube-link:hover:before {
  background-color: transparent;
  transition: all 0.5s;
}
.news-slider__item--youtube .news-slider__text-wrap--youtube {
  display: block;
  text-decoration: none;
}
.news-slider__item--youtube .news-slider__text-wrap--youtube:hover .news-slider__head {
  color: #377CFD;
}
.news-slider__item--youtube .news-slider__youtube-button {
  position: absolute;
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 18px solid #fff;
  background-color: transparent;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-8px) translateY(-10px);
          transform: translateX(-8px) translateY(-10px);
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
  z-index: 10;
}
.news-slider__item--youtube .news-slider__youtube-button:hover {
  border-left: 18px solid #2B62FC;
}
