body {
    background-color: #1e2432;
    color: white !important;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    background: #1e2432;
    font-family: "Roboto", sans-serif;
}

* {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.nav {
    background: #1e2432;
    color: white !important;
    -webkit-app-region: drag;
    cursor: pointer !important;
    z-index: 999999;
    padding: 3px;
    width: 100vw;
    position: fixed;
}

.ind1 .value
{
    margin-top: 13px !important;
    font-size: 24px;
    color: rgba(250, 200, 200, 1);
}

.pair-slider .slider .pair.hidden
{
    display: none;
}

.pair-slider .selector
{
    color: white;
    position: absolute;
    left: 41px;
    bottom: 4px;
    cursor: pointer;
    width: 18.3%;
    background-color: rgba(1,1,1,0.5);
    display: inline-block;
    text-align: center;
}

.pair-slider .selector:hover .pairs
{
    display: block;
}

.pair-slider .selector .pairs
{
    width: 100%;
    position: absolute;
    top: 15px;
    display: none;
}

.pair-slider .selector .pairs .pair
{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ucfirst:first-letter
{
    text-transform: uppercase;
}

.pair-slider .selector .pairs .pair div
{
    display: inline-block;
}


.pair-slider .selector .pairs .pair .show
{
    margin-left: auto;
}

@keyframes slide-up-arrow
{
    0%
    {
        position: relative;
        bottom: -10px;
        opacity: 1;
    }
    50%
    {
        position: relative;

        opacity:1;
    }
    100%
    {
        position: relative;
        bottom: 10px;
        opacity: 0;
    }

}

@keyframes slide-down-arrow
{
    0%
    {
        position: relative;
        top: -10px;
        opacity: 1;
    }
    50%
    {
        position: relative;

        opacity:1;
    }
    100%
    {
        position: relative;
        top: 10px;
        opacity: 0;
    }

}



.lang:first-child {
    border-radius: 5px 0 0 5px;
}

.lang:last-child {
    border-radius: 0 4px 4px 0;
}

.lang {
    cursor: pointer;
    border: 1px solid #33314a;
}

.lang.active {
    background-color: #33314a;
    color: #f0f0f0
}

.pointer
{
    cursor: pointer;
}

.slide-up-arrow
{
    animation: slide-up-arrow 1s ease infinite;
}

.slide-down-arrow
{
    animation: slide-down-arrow 1s ease infinite;
}

.nav .btn {
    -webkit-app-region: no-drag;
}

.nav .buttons-control .btn {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 14px;
    font-weight: 100;
    -webkit-text-stroke: 1px #f0f0f0
    border-radius: 0;
}

.nav .buttons-control .btn:focus, .nav .buttons-control .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.nav .btn-minimize {
    background-color: rgba(1, 1, 1, 0);
    border-width: 0;
    color: #0c9eda !important;
}

.sets .icon {
    width: 30px;
    height: 26px;
    text-align: center;
    display: inline-block;
    color: #878eaf;
}
.nav .btn-close {
    font-size: 20px !important;
    border-width: 0;
    background-color: rgba(1, 1, 1, 0);
    color: #d54f68 !important;
}

.pair-slider {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
}

.pair-slider>div {
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
}

.pair-slider .left, .pair-slider .right {
    font-size: 40px;
    text-align: center;
    width: 5vw;
    display: block;
    cursor: pointer;
}

.pair-slider .slider {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    width: 92vw;
    -webkit-transition: left 5s ease-out;
    -moz-transition: left 5s ease-out;
    -o-transition: left 5s ease-out;
    transition: left 5s ease-out;
}


.global .pair-slider .slider
{
    overflow: normal;
}

.pair-slider .slider .pair {
    display: inline-block;
    margin: 0;
    width: 20%;
    height: 60px;
    border-right: 2px solid #192431;
    border-top: 2px solid #192431;
    border-radius: 0px;
    cursor: pointer;
    background-color: #1d2a38;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.pair-slider .slider .pair.active {
    border-top: 2px solid #02a6f2;
    background: rgba(1,1,1,0);
    background-size: 50%;
}

.pair-slider .slider .pair:first-child {
    margin-left: 0;
}

.pair-slider .slider .pair:last-child {
    margin-right: 0;
}

.pair-slider .slider .pair>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 22px;
    position: relative;
}

.pair-slider .slider .pair>div .presignal {
    font-size: 12.5px;
    position: absolute;
    top: -2px;
    right: 5px;
}

.contain {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.pair-slider .left.disabled, .pair-slider .right.disabled {
    color: rgba(255, 255, 255, 0.1);
}

.ind {
    background: rgb(51,49,74);
    background: linear-gradient(45deg, rgba(51,49,74,1) 0%, rgba(39,74,114,1) 100%);
    border-radius: 0px;
    color: #292929;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}

.ind1, .ind2 {
    width: 48.4%;
    height: 130px
}

.ind3 {
    width: 100%;
    padding-bottom: 20px;
    background: #253958 !important;
}

.ind .title {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 2;
    font-weight: 600;
    color: #f0f0f0;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
}


.ind .title:first-letter {
    text-transform: uppercase;
}

.label {
    padding: 3px;
    color: rgba(250, 200, 200, 1);
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%,rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;

    clip-path: polygon(0% 0%, 5% 50%, 0% 100%, 100% 100%, 95% 50%, 100% 0%, 0% 0%);
}

.label-danger {
    background-color: rgba(223, 85, 58, 0.8);
}



.label-success {
    background-color: rgba(42, 167, 109, 1);

}

.label-success {
    background-color: rgba(50, 150, 50, 0.9);
}

.label-muted {
    background-color: #929292;
}

.settings .info, .settings .buttons {
    width: 48.4%;
}

.settings .info {
    color: #d0d0d0;
}

.settings .info .subtitle {
    font-size: 14px;
    margin-bottom: 0;
}

.settings .info .text {
    font-size: 12px;
}

.settings .buttons {
    text-align: right;
}

.settings .buttons .btn {
    padding: 10px 16px;
    min-height: 50px;
    font-size: 20px;
}

.btn:active, .btn:focus {
    outline: none !important;
    box-shadow: 0 !important;
    border-width: 0 !important;
}

.btn-control, .btn-outline-control {
    width: 50px;
    height: 50px;
    padding: 0 !important;
    text-align: center;
}

.btn-control {
    background-color: #698bc8;
}

.btn-outline-control, .btn-outline-control:hover, .btn-outline-control:focus, .btn-outline-control:active {
    box-shadow: none;
    border: 1px solid #698bc8;
    color: #698bc8;
    background-color: rgba(1, 1, 1, 0);
}

.btn-control:focus, .btn-outline-control:focus {
    box-shadow: none;
}

.devider {
    height: 2px;
    background-image: linear-gradient(to left, rgba(36,52,59,0), rgba(36,52,59,1), rgba(36,52,59,0));
    margin-top: 20px;
    margin-bottom: 20px;
}

.line-title
{
    color: #e6e6e6;
    line-height: 1.5;
    font-size: 30px;
    margin-top: -10px;
}

.line-title .subtitle
{
    color: #9196a9;
    font-size: 12px;
    display: block;
    margin-top: -10px;
    text-align: center;
}

.contacts .link {
    font-size: 22px;
    margin-left: 7px;
    margin-right: 7px;
}

.contacts {}

.time-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
}

.time-select .time a {
    display: block;
    border-right: 1px solid #7579a5;
    border-top: 1px solid #7579a5;
    border-bottom: 1px solid #7579a5;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 25px;
    color: #7579a5;
    text-decoration: none;
    cursor: pointer;
    box-sizing: padding-box;
    min-width: 135px;
    text-align: center;
}

.time-select .time:first-child a {
    border-left: 1px solid #7579a5;
    border-radius: 5px 0 0 5px;
}

.time-select .time:last-child a {
    border-radius: 0 5px 5px 0;
}

.time-select .time.active a {
    display: block;
    background-color: #33314a;
    color: #c1c1c3;
}

.self-signal {
    text-align: center;
    font-size: 24px;
    height: 50px;
    font-weight: 600;
}

.self-signal .label
{
    display: block;
    margin: auto;
    width: 50%;
}

.line-chart
{
    position: absolute;
    width: 400px;
    background-color: red;
    height: 1px;

    clip-path: url(#mask1);
}
.line-chart-green {
    ackground-color: rgba(42, 167, 109, 1);
    width: 70%;
    height: 5px;
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
}

.line-chart-red {
    height: 5px;
    width: 30%;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
    background-color: rgba(223, 85, 58, 1);
}

.sets>div, .sets, .links {
    display: inline-block;
}




.notify {
    cursor: pointer;
    color: #878eaf;
}

.auth-form .card
{
    background-color: #253958 !important;
    padding: 50px;
    position: relative;
}

.auth-form .card .card-move
{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(51,49,74,1) 0%, rgba(51,49,74,1) 48%, rgba(39,74,114,1) 52%, rgba(39,74,114,1) 100%);
}

.auth-form
{
    color: #f0f0f0;
    width: 80%;
}
.auth-form .subtitle
{
    color: #777f8f;
    font-size: 18px;
}

.auth-form .text-small
{
    font-size: 14px;
}

.auth-form label
{
    color: #656f81;
}

.auth-form input, .auth-form input:active, .auth-form input:focus
{
    background-color: #222f43;
    border: 1px solid #445570;
    width: 350px;
}

.btn-login
{
    font-size: 20px;
    width: 235px;
    height:50px;
    border: 2px solid #67758a;
    color: #d4d5d8;
}

.btn-login:hover, .btn-login:active
{
    background-color: #67758a;
}

.auth-form
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 530px;
    text-align: center;
    max-width: 50%;
}
.link
{
    cursor: pointer;
}


.label-outline-danger
{
    border: 1px solid red;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 70px;
}

.label-outline-success
{
    border: 1px solid  #28a745!important;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 70px;
}

.label-outline-neutrally
{
    border: 1px solid rgba(250, 200, 200, 1);
    display: inline-block;
    padding: 5px 20px;
    border-radius: 70px;
}

.open-global
{
    height: 500px;
    width: 30px;
    background-image: linear-gradient(to left, #1e2432, rgb(100, 106, 120, 0.5));

    position: absolute;
    left: 0;
    top: 100px;
}

.global
{
    z-index: 10000;
    width: 0px;
    position: absolute;
    padding-top: 50px;
    top: 0px;
    left: 0px;
    background: #1e2432;
    display: none;
    text-align: center;
    overflow: block;
    height: 500px;
    opacity: 0;
    padding-bottom: 20px;
    transition: all 0.1s ease-out;
}

.global .title
{
    margin-bottom: 20px;
}

.global .slider
{
    background-color: #1e2432;
}

svg, .ind-chart
{
    transition: none;
}

.settings
{
    transition-duration: 0.1s;
}

i.settings
{
    transition-duration: 0.05s !important;
}

.settings i.fa-spin
{
    animation-duration: 5s !important;
}

.settings.active
{
    color: white;
}

.globalOpen
{
    display: block;
    opacity: 1;
    width: 900px;
    animation: 0.2s opacityShow linear;
}

@keyframes opacityShow
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.opacity1
{
    opacity: 1;
}
/*
.open-global:hover~.global, .global:hover, .open-global.hover~.global, .global.hover
{
    width: 900px;
    opacity: 1;
    animation: global 0.2s ease-in-out;
}

.open-global:hover~.pair-slider, .global:hover~.pair-slider, .open-global.hover~.pair-slider, .global.hover~.pair-slider
{
    opacity: 0.01 !important;
}
*/
.global .slider .pair
{
    display: inline-block;
    margin: 2px;
    width: 160.35px;
    height: 60px;
    border-right: 2px solid #192431;
    border-top: 2px solid #192431;
    border-radius: 0px;
    cursor: pointer;
    background-color: #1d2a38;
    transition: opacity 0.4s ease-out, background-color 0.3s ease-out;
    position: relative;
}


@keyframes global
{
    0%
    {
        width: 900px;
        opacity: 0;
    }
    100% {
        width: 900px;
        opacity: 1;
    }
}

.global .slider .pair>div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 22px;
    position: relative;

}

.global .slider .pair.hidden {
    background-color: #1e2432;
    backgrfound-size: 50%;
    opacity: 0.2;
}

.global .slider .pair .presignal
{
    font-size: 12.5px;
    position: absolute;
    top: -2px;
    right: 5px;
}
.global .slider .pair .status
{
    font-size: 12.5px;
    position: absolute;
    bottom: -2px;
    right: 5px;
}
